In [ ]:
import pandas as pd
 
races = pd.read_csv("races.csv")
circuits = pd.read_csv("circuits.csv")

# Merges:
# merge circuits and races
tempTable = pd.merge(circuits,races,how="left",on="circuitId") 

# calculate race count for each circuit
occurCount = tempTable.groupby(['circuitId']).size()
occurFrame = occurCount.to_frame(name="Race_count")

# merge all and race count
#finalTable = pd.merge(occurFrame,tempTable,how="right",on="circuitId")

# merge tempTable and results
results = pd.read_csv("results.csv")
status = pd.read_csv("status.csv")
resultsAndStatus = pd.merge(results,status,how="left",on="statusId")
tempTable = pd.merge(tempTable,resultsAndStatus, how='left', on='raceId')
# drop every value except for 3 and 4, then sum over statusId
filteredTable = tempTable[(tempTable['statusId'] == 3) | (tempTable['statusId'] == 4)]

# calculate accidents for each circuit
accidents = filteredTable.groupby(['circuitId'])['statusId'].sum()
accidentsFrame = accidents.to_frame(name='Total_accidents')

# calculate accidents per year 
accPerYear = filteredTable.groupby(['year'])['statusId'].sum()
accPerYearFrame = accPerYear.to_frame(name='Accidents_per_year')
#print(accPerYear)

finalTable = pd.merge(occurFrame,tempTable,how="right",on="circuitId")
finalTable = pd.merge(accidentsFrame, finalTable,how="right",on="circuitId")
finalTable = pd.merge(accPerYearFrame,finalTable,how="right",on="year")

finalTable['image'] = 'data/'+finalTable['circuitRef'] + '.png'
print(finalTable)
finalTable.to_csv('filteredTable.csv')
#circuits[['circuitId','url']].to_csv("url_circuits.csv")

       year  Accidents_per_year  circuitId  Total_accidents  Race_count  \
0      2009               106.0          1            232.0          25
1      2009               106.0          1            232.0          25
2      2009               106.0          1            232.0          25
3      2009               106.0          1            232.0          25
4      2009               106.0          1            232.0          25
...     ...                 ...        ...              ...         ...
25664  2022                39.0         79              8.0           1
25665  2022                39.0         79              8.0           1
25666  2022                39.0         79              8.0           1
25667  2022                39.0         79              8.0           1
25668  2022                39.0         79              8.0           1

        circuitRef                          name_x   location    country  \
0      albert_park  Albert Park Grand Prix Circuit  Melbourne  Australia
1      albert_park  Albert Park Grand Prix Circuit  Melbourne  Australia
2      albert_park  Albert Park Grand Prix Circuit  Melbourne  Australia
3      albert_park  Albert Park Grand Prix Circuit  Melbourne  Australia
4      albert_park  Albert Park Grand Prix Circuit  Melbourne  Australia
...            ...                             ...        ...        ...
25664        miami   Miami International Autodrome      Miami        USA
25665        miami   Miami International Autodrome      Miami        USA
25666        miami   Miami International Autodrome      Miami        USA
25667        miami   Miami International Autodrome      Miami        USA
25668        miami   Miami International Autodrome      Miami        USA

           lat  ...  laps       time_y milliseconds  fastestLap  rank  \
0     -37.8497  ...  58.0  1:34:15.784      5655784          17     3
1     -37.8497  ...  58.0       +0.807      5656591          43    14
2     -37.8497  ...  58.0       +1.604      5657388          50    10
3     -37.8497  ...  58.0       +4.435      5660219          53     6
4     -37.8497  ...  58.0       +4.879      5660663          53     9
...        ...  ...   ...          ...          ...         ...   ...
25664  25.9581  ...  56.0           \N           \N          52    17
25665  25.9581  ...  54.0           \N           \N          50    16
25666  25.9581  ...  45.0           \N           \N          38    19
25667  25.9581  ...  39.0           \N           \N          37    14
25668  25.9581  ...   6.0           \N           \N           4    20

      fastestLapTime fastestLapSpeed statusId      status  \
0           1:28.020         216.891      1.0    Finished
1           1:29.066         214.344      1.0    Finished
2           1:28.916         214.706      1.0    Finished
3           1:28.416         215.920      1.0    Finished
4           1:28.712         215.199      1.0    Finished
...              ...             ...      ...         ...
25664       1:33.511         208.351     33.0  Front wing
25665       1:33.479         208.423      4.0   Collision
25666       1:34.487         206.199     22.0  Suspension
25667       1:33.411         208.575      4.0   Collision
25668       1:35.731         203.520     47.0  Water leak

                      image
0      data/albert_park.png
1      data/albert_park.png
2      data/albert_park.png
3      data/albert_park.png
4      data/albert_park.png
...                     ...
25664        data/miami.png
25665        data/miami.png
25666        data/miami.png
25667        data/miami.png
25668        data/miami.png

[25669 rows x 48 columns]

In [ ]:
constructor = pd.read_csv('constructors.csv')
constructor_results = pd.read_csv('constructor_results.csv')
constructor_standings = pd.read_csv('constructor_standings.csv')

constructorTable = pd.merge(constructor_standings, constructor, how='right', on='constructorId')
#constructorTable = pd.merge(constructor_results, constructorTable, how='right', on='constructorId')

#calculate wins per year (constructor)
tempTable = pd.merge(constructorTable, races, how='left', on='raceId')
winsPerYear = tempTable.groupby(['constructorId','year'])['wins'].sum()
winsPerYearFrame = winsPerYear.to_frame(name='Wins_per_year').reset_index()


# calculate total wins (constructor)
totalWins = constructorTable.groupby(['constructorId'])['wins'].sum()
totalWinsFrame = totalWins.to_frame(name='Total_wins')

constructorTable = pd.merge(totalWinsFrame, constructorTable, how='right', on='constructorId')
constructorTable = pd.merge(winsPerYearFrame, constructorTable, how='right', on='constructorId')

constructorTable.to_csv('constructorTable.csv')

In [ ]:
driver = pd.read_csv('drivers.csv')
driver_standings = pd.read_csv('driver_standings.csv')

driverTable = pd.merge(driver_standings, driver, how='right', on='driverId')

# join forename + surname

driverTable['name'] = driverTable['forename']+' '+driverTable['surname']

# calculate total wins (driver)
totalWins = driverTable.groupby(['driverId'])['wins'].sum()
totalWinsFrame = totalWins.to_frame(name='Total_wins')

# calculate wins per year (driver)
tempTable = pd.merge(driverTable, races, how='left', on='raceId')
winsPerYear = tempTable.groupby(['driverId','year'])['wins'].sum()
winsPerYearFrame = winsPerYear.to_frame(name='Wins_per_year').reset_index()

driverTable = pd.merge(totalWinsFrame, driverTable, how='right', on='driverId')
driverTable = pd.merge(winsPerYearFrame, driverTable, how='right', on='driverId')

driverTable.to_csv('driverTable.csv')

In [ ]:
'''dic = {}
for index, row in finalTable.iterrows():
  currentRowCountry = row['country']
  currentRowRaceCount = row['Race_count'] 
  if currentRowCountry in dic:
    dic[currentRowCountry] = currentRowRaceCount
  else: 
    dic[currentRowCountry] = currentRowRaceCount

print(dic)'''

{'Australia': 16882, 'Malaysia': 7828, 'Bahrain': 7600, 'Spain': 27542, 'Turkey': 1728, 'Monaco': 110432, 'Canada': 43158, 'France': 20835, 'UK': 85524, 'Germany': 74626, 'Hungary': 32227, 'Belgium': 68879, 'Italy': 150630, 'Singapore': 3367, 'Japan': 23892, 'China': 5472, 'Brazil': 37102, 'USA': 26086, 'UAE': 3878, 'Argentina': 8960, 'Portugal': 4927, 'South Africa': 10345, 'Mexico': 10978, 'Korea': 376, 'Netherlands': 22656, 'Sweden': 954, 'Austria': 31016, 'Morocco': 25, 'Switzerland': 500, 'India': 210, 'Russia': 1304, 'Azerbaijan': 732, 'Saudi Arabia': 80, 'Qatar': 20}

In [ ]:
print(finalTable[['country', 'Race_count']])

         country  Race_count
0      Australia          25
1      Australia          25
2      Australia          25
3      Australia          25
4      Australia          25
...          ...         ...
25664        USA           1
25665        USA           1
25666        USA           1
25667        USA           1
25668        USA           1

[25669 rows x 2 columns]